doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', type='text/css', href='/dist/style.css')
    title Document
  body
    nav
      ul.container
        li All Jobs
        li Tags
        li Top
        li Add
        li Map
        li.search
          input.search-input(type='text', placeholder='Search')
        li Logout
