.jobPosts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jobPost {
  background: white;
  margin: 10px 0;
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
}

.jobPost--wide {
  width: 100%;
}

.jobPost__details {
  padding: 2rem;
  & p {
    line-height: 1.2;
    margin-bottom: 0;
  }
}

@media all and (max-width: 850px) {
  .jobPost {
    width: 48%;
  }
}
@media all and (max-width: 550px) {
  .jobPost {
    width: 100%;
  }
}

.jobPost__actions {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.2);
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.jobPost__action {
  font-size: 10px;
  & svg {
    width: 25px;
    fill: white;
  }
}

.jobPost__action--edit a {
  border-bottom: 0;
}

.jobPost__hero {
  position: relative;
  padding: 0 10px 0 10px;
  text-align: right;
  &:before {
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, #05b3d6 0%, rgba(5, 179, 214, 0) 70%), linear-gradient(135deg, #0958ec 10%, rgba(9, 88, 236, 0) 80%), linear-gradient(225deg, #d209ec 10%, rgba(210, 9, 236, 0) 80%), linear-gradient(315deg, #05e129 100%, rgba(5, 225, 41, 0) 70%);
    opacity: 0.6;
    z-index: 1;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
  & img {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }
}